:root {
  --brand-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #212121;
}
.menu a:hover,
.menu a:focus {
  color: var(--brand-color);
}
.robotofonts-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.logo-secondary {
  color: var(--brand-color);
}
.active-page a {
  color: var(--brand-color);
}
.contacts a {
  text-decoration: none;
  color: #757575;
}
.button-panel {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px 6px 22px;
}
.button-panel button {
  border: 4px #f5f4fa solid;
}
.button-panel button:hover,
.button-panel button:focus {
  border: var(--brand-color) 4px solid;
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}
.bottom-information a,
.bottom-information address {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.bottom-information {
  background: #2f303a;
}
.bottom-information address,
.bottom-information address a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.bottom-information address a {
  color: rgba(255, 255, 255, 0.6);
}
[href='tel:+48111111111'] {
  text-decoration-line: none;
}
